/* Blogs Section */
.blogs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.blogs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    padding: 0 51.7px 21px 51px;
    border-radius: 20px;
    margin: 40px;
    margin-top: 82.1px;
    border-radius: 25px;
    overflow: hidden;
}

.blogs-card img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.blogs-name {
    width: 250px;
    height: 24px;
    margin-top: 18px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: var(--aqua-blue);
}

.blogs-description {
    width: 250px;
    height: 57px;
    margin-top: 9px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
}

.blogs-readmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 19px;
    margin: 11px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
}

.line {
    width: 36px;
    height: 0;
    margin-top: 10.5px;
    border: solid 2px var(--aqua-blue);
}