nav {
    display: flex;
    justify-content: space-between;
}

.brand {
    display: flex;
}

.brand-logo {
    width: 78px;
    height: 75px;
}

.brand-name {
    width: 148px;
    height: 56px;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    padding-left: 5px;
    color: var(--dark-grey-blue);
}

.brand-link {
    display: flex;
}

.brand-link:hover {
    border: none;
}

.links,
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    margin: 0 30px;
}

.links ul li a {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-grey-blue);
    text-decoration: none;
}

.links ul li a:hover,
.active {
    border-width: 46px;
    border-bottom: solid 2px #00dbd0;
}


.contact-button {
    width: 141px;
    height: 46px;
    margin: 0 0 0 46px;
    padding: 12px 48px 13px 38px;
    border-radius: 10px;
    border: solid 2px #00dbd0;
}

.contact-button:hover {
    border: none;
    background-color: var(--aqua-blue);
}